
.user_profile{
  display: flex;
  column-gap: 40px;
  padding: 10px;
  img{
    background: white;
    border: 1px solid black;
    border-radius: 50%;
  }

  .user_info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    li{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      border-bottom: 1px solid black;
      padding: 3px;

      h3{
        font-weight: 400;
        font-size: 24px;
      }
      span{
        font-weight: 200;
        font-size: 18px;
        color: grey;
      }
    }
  }
}